<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title text-center> Beranda </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card class="profile-card" mode="ios">
    <ion-card-header>
      <ion-card-title text-center>Hai!</ion-card-title>
    </ion-card-header>

    <ion-card-content class="content-center">
      <ion-avatar class="avatar-center">
        <img src="assets/img/profile.png" />
      </ion-avatar>
      <h2 class="student-name">Luthfi Arie Zulfikri</h2>
      <p class="student-id">H1D022061</p>
    </ion-card-content>
  </ion-card>
</ion-content>
