.profile-card {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-center {
  margin: auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}

.student-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.student-id {
  font-size: 1em;
  color: #666;
}
